body{
	font-family: Poppins,sans-serif;
	font-size: 16px;
	background-color: rgb(255, 242, 225)
}

h1{
	text-align: center;
	font-size: 2rem;
}

.box-buttons{
	background-color: rgb(153, 93, 181);
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border: 1px solid rgb(40, 41, 35);
	padding-bottom: 2em;
	box-shadow: inset 0px -10px 15px 5px black; 
}
.button{
	width: 7rem;
	height: 2rem;
	margin:  0 .5em;
	margin-top: 1rem;	
	color: white;
	border: 1px solid rgb(40, 41, 35);
	background-color: rgb(247, 148, 31);
	flex-grow: 1;
	flex-shrink: 3;
	box-shadow: 2px 2px 1px 1px black;
}
.box-buttons div{
	border-bottom: 2px solid rgb(200, 200, 200);
	padding-bottom: .3rem;
}

.button:first-child, .button:nth-child(6){
	background-color: rgb(247, 247, 41);
	color: black;
	flex-grow: 3;

}
.button:first-child:active, .button:nth-child(6):active{
	background-color: rgb(198, 198, 43);
}
.button:active{
	background-color: rgb(202, 127, 38);
	transform: scale(.9);
}

.label{
	color: black;
	font-weight: 700;
	font-size: 1.2em;
}
.input{
	height: 1.5rem;
	border: none;
	border-radius: 3em;
	padding-left: 1em;
}

.text > p{
	color: black;
	font-size: 1.5em;
	font-weight: 600;
}